USE [PBS_PROCFIT_DADOS]
GO
/****** Object:  Table [dbo].[CLASSIFICACOES_CLIENTES]    Script Date: 16/09/2024 21:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSIFICACOES_CLIENTES](
	[CLASSIFICACAO_CLIENTE] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[FORMULARIO_ORIGEM] [numeric](6, 0) NULL,
	[TAB_MASTER_ORIGEM] [numeric](6, 0) NULL,
	[REG_MASTER_ORIGEM] [numeric](15, 0) NULL,
	[REG_LOG_INCLUSAO] [numeric](15, 0) NULL,
	[DESCRICAO] [varchar](60) NOT NULL,
	[MARKUP_ADICIONAL] [numeric](6, 2) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CODIGO_ANTIGO] [varchar](20) NULL,
	[EXIGIR_EMPENHO] [varchar](1) NOT NULL,
	[EXIGIR_EMAIL_COBRANCA] [varchar](1) NOT NULL,
	[DESCONSIDERAR_VENCIMENTO] [varchar](1) NULL,
	[CONVENIO_87] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CLASSIFICACAO_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENDERECOS]    Script Date: 16/09/2024 21:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENDERECOS](
	[ENDERECOS] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[FORMULARIO_ORIGEM] [numeric](6, 0) NULL,
	[TAB_MASTER_ORIGEM] [numeric](6, 0) NULL,
	[REG_MASTER_ORIGEM] [numeric](15, 0) NULL,
	[REG_LOG_INCLUSAO] [numeric](15, 0) NULL,
	[ENTIDADE] [numeric](15, 0) NOT NULL,
	[PAIS] [varchar](40) NOT NULL,
	[CEP] [varchar](9) NOT NULL,
	[TIPO_ENDERECO] [varchar](15) NOT NULL,
	[ENDERECO] [varchar](60) NOT NULL,
	[NUMERO] [numeric](10, 0) NOT NULL,
	[COMPLEMENTO] [varchar](60) NULL,
	[BAIRRO] [varchar](40) NOT NULL,
	[CIDADE] [varchar](40) NOT NULL,
	[ESTADO] [varchar](2) NOT NULL,
	[REFERENCIA] [varchar](255) NULL,
	[MUNICIPIO] [numeric](15, 0) NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CODIGO_IBGE] [numeric](7, 0) NULL,
	[CODIGO_POSTAL] [varchar](25) NULL,
	[CODIGO_POSTAL_CEP] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ENDERECOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTIDADES]    Script Date: 16/09/2024 21:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTIDADES](
	[ENTIDADE] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[FORMULARIO_ORIGEM] [numeric](6, 0) NULL,
	[TAB_MASTER_ORIGEM] [numeric](6, 0) NULL,
	[REG_MASTER_ORIGEM] [numeric](15, 0) NULL,
	[REG_LOG_INCLUSAO] [numeric](15, 0) NULL,
	[NOME] [varchar](200) NULL,
	[NOME_FANTASIA] [varchar](200) NULL,
	[INSCRICAO_FEDERAL] [varchar](20) NULL,
	[INSCRICAO_ESTADUAL] [varchar](20) NULL,
	[INSCRICAO_MUNICIPAL] [varchar](20) NULL,
	[EMPRESA_NACIONAL] [varchar](1) NOT NULL,
	[CONTRIBUINTE_ICMS] [varchar](1) NOT NULL,
	[CONCENTRADOR] [numeric](15, 0) NULL,
	[REGIAO] [numeric](5, 0) NULL,
	[TIPO] [numeric](2, 0) NULL,
	[CODIGO_ANTIGO] [varchar](30) NULL,
	[GRUPO_CONTABIL] [numeric](15, 0) NULL,
	[IMPORTADO] [varchar](1) NULL,
	[ATIVO] [varchar](1) NULL,
	[SIMPLES_NACIONAL] [varchar](1) NULL,
	[COR] [numeric](15, 0) NULL,
	[INSCRICAO_ESTRANGEIRO] [varchar](20) NULL,
	[CLASSIF_FINANCEIRA] [numeric](15, 0) NULL,
	[NFE_TIPO_INDICADOR_IE]  AS (case when isnull([CONTRIBUINTE_ICMS],'N')='S' AND len(replace(replace(replace(isnull([INSCRICAO_ESTADUAL],''),'.',''),'-',''),'ISENTO',''))<(2) then (2) when isnull([CONTRIBUINTE_ICMS],'N')='S' AND len(replace(replace(replace(isnull([INSCRICAO_ESTADUAL],''),'.',''),'-',''),'ISENTO',''))>(1) then (1) when isnull([CONTRIBUINTE_ICMS],'N')='N' OR [CONTRIBUINTE_ICMS]='' then (9)  end) PERSISTED,
	[NFE_CONSUMIDOR_FINAL]  AS (case when isnull([CONTRIBUINTE_ICMS],'N')='N' then (1) else (0) end),
	[CLASSIFICACAO_CLIENTE] [numeric](15, 0) NULL,
	[DATA_CADASTRO] [datetime] NOT NULL,
	[CODIGO_ANTIGO_FORNECEDOR] [numeric](15, 0) NULL,
 CONSTRAINT [PK__ENTIDADE__355BF79E7F60ED59] PRIMARY KEY CLUSTERED 
(
	[ENTIDADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 16/09/2024 21:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[ESTADO] [varchar](2) NOT NULL,
	[FORMULARIO_ORIGEM] [numeric](6, 0) NULL,
	[TAB_MASTER_ORIGEM] [numeric](6, 0) NULL,
	[REG_MASTER_ORIGEM] [numeric](15, 0) NULL,
	[REG_LOG_INCLUSAO] [numeric](15, 0) NULL,
	[NOME] [varchar](40) NOT NULL,
	[ALIQUOTA_ICMS] [numeric](6, 2) NOT NULL,
	[ALIQUOTA_INTERNA] [numeric](6, 2) NOT NULL,
	[CODIGO_IBGE] [numeric](2, 0) NULL,
	[ALIQUOTA_INTERESTADUAL] [numeric](6, 2) NULL,
	[CODIGO_GIA] [numeric](6, 0) NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ICMS_ALIQUOTA_FPOBREZA] [numeric](6, 2) NULL,
	[CODIGO_GIAM] [varchar](2) NULL,
	[GNRE_CODIGO_RECEITA] [varchar](6) NULL,
	[GNRE_CODIGO_RECEITA_DETALHAMENTO] [varchar](6) NULL,
	[GNRE_CODIGO_RECEITA_FP] [varchar](6) NULL,
	[GNRE_CODIGO_RECEITA_DETALHAMENTO_FP] [varchar](6) NULL,
	[DATA_VENCIMENTO] [datetime] NULL,
	[DATA_VENCIMENTO_FCP] [datetime] NULL,
	[EXIGE_RESP_TECNICO_NFE] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAMILIAS_PRODUTOS]    Script Date: 16/09/2024 21:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILIAS_PRODUTOS](
	[FAMILIA_PRODUTO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[FORMULARIO_ORIGEM] [numeric](6, 0) NULL,
	[TAB_MASTER_ORIGEM] [numeric](6, 0) NULL,
	[REG_MASTER_ORIGEM] [numeric](15, 0) NULL,
	[REG_LOG_INCLUSAO] [numeric](15, 0) NULL,
	[DESCRICAO] [varchar](60) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FAMILIA_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 16/09/2024 21:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCAS](
	[MARCA] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[FORMULARIO_ORIGEM] [numeric](6, 0) NULL,
	[TAB_MASTER_ORIGEM] [numeric](6, 0) NULL,
	[REG_MASTER_ORIGEM] [numeric](15, 0) NULL,
	[REG_LOG_INCLUSAO] [numeric](15, 0) NULL,
	[DESCRICAO] [varchar](60) NOT NULL,
	[MARGEM] [numeric](15, 2) NOT NULL,
	[ESTADO] [varchar](2) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[IMS] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 16/09/2024 21:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[PRODUTO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[FORMULARIO_ORIGEM] [numeric](6, 0) NULL,
	[TAB_MASTER_ORIGEM] [numeric](6, 0) NULL,
	[REG_MASTER_ORIGEM] [numeric](15, 0) NULL,
	[REG_LOG_INCLUSAO] [numeric](15, 0) NULL,
	[DESCRICAO] [varchar](255) NOT NULL,
	[DESCRICAO_REDUZIDA] [varchar](40) NOT NULL,
	[UNIDADE_MEDIDA] [varchar](3) NOT NULL,
	[FAMILIA_PRODUTO] [numeric](15, 0) NULL,
	[SECAO_PRODUTO] [numeric](15, 0) NOT NULL,
	[GRUPO_PRODUTO] [numeric](15, 0) NOT NULL,
	[SUBGRUPO_PRODUTO] [numeric](15, 0) NOT NULL,
	[SAZONALIDADE] [numeric](15, 0) NULL,
	[MARCA] [numeric](15, 0) NULL,
	[DATA_INCLUSAO] [datetime] NULL,
	[DATA_FORA_LINHA] [datetime] NULL,
	[SITUACAO_PRODUTO] [numeric](15, 0) NULL,
	[CODIGO_ANTIGO] [varchar](18) NULL,
	[FATOR_EMBALAGEM] [numeric](8, 2) NOT NULL,
	[UNIDADE_MEDIDA_FATOR] [varchar](3) NOT NULL,
	[EMBALAGEM_INDUSTRIA] [numeric](6, 0) NULL,
	[GRUPO_CONTABIL] [numeric](15, 0) NULL,
	[FABRICANTE] [numeric](15, 0) NULL,
	[GRUPO_TRIBUTARIO] [numeric](15, 0) NULL,
	[DESCRICAO_ECOMMERCE] [varchar](255) NULL,
	[ENVIAR_ECOMMERCE] [varchar](1) NOT NULL,
	[SITUACAO_PRODUTO_COMPRA] [numeric](15, 0) NULL,
	[ENVIAR_LOJAS] [varchar](1) NOT NULL,
	[TIPO_PRECO] [numeric](2, 0) NOT NULL,
	[TIPO_ETIQUETA] [numeric](15, 0) NULL,
	[LUCRO_BRUTO] [numeric](6, 2) NULL,
	[PROC_GUID] [uniqueidentifier] NULL,
	[CADASTRO_ATIVO] [varchar](1) NOT NULL,
	[CLASSE_PRODUTO] [numeric](15, 0) NULL,
	[PAIS] [varchar](40) NULL,
	[NCM] [varchar](13) NOT NULL,
	[LUCRO_BRUTO_PERCENTUAL] [numeric](15, 2) NULL,
	[PRODUTO_OBSERVACAO_VENDA] [varchar](255) NULL,
	[FATOR_PRECO] [numeric](15, 2) NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[GRUPO_TRIBUTARIO_ENTRADA] [numeric](15, 0) NULL,
	[GRUPO_FISCAL] [numeric](15, 0) NULL,
	[LISTA_PNU] [numeric](5, 0) NULL,
	[CLASSIFICACAO_PRODUTO_ESTOQUE] [numeric](15, 0) NULL,
	[CODIGO_REFERENCIA] [varchar](60) NULL,
	[CODIGO_ANTIGO_REGMS] [varchar](60) NULL,
	[CODIGO_ANTIGO_COMPLE] [varchar](60) NULL,
	[PRODUTO_CONCENTRADOR] [numeric](15, 0) NULL,
	[CODIGO_CEST] [varchar](10) NULL,
	[MENOR_UNIDADE_VENDA] [numeric](15, 0) NULL,
	[PRODUTO_ORIGEM] [numeric](15, 0) NULL,
	[FATOR] [numeric](15, 0) NULL,
	[DESCRICAO_FATOR_APRESENTACAO] [varchar](255) NULL,
	[COMISSAO] [numeric](5, 0) NULL,
	[DESCRICAO_COMPLETA] [varchar](100) NULL,
	[ORIGEM] [numeric](15, 0) NULL,
	[GRUPO_TERMO_ACORDO_CE] [numeric](15, 0) NULL,
	[CUSTO_BASE] [numeric](15, 2) NULL,
	[REFERENCIA] [varchar](20) NULL,
	[COD_SYSPDV] [numeric](15, 0) NULL,
	[STATUS_ATIVO_TRANSFERENCIA] [numeric](15, 0) NOT NULL,
	[CONFERIDO_COM_MOVIMENTACAO] [varchar](1) NULL,
	[MARKUP] [numeric](6, 2) NULL,
 CONSTRAINT [PK__PRODUTOS__1B73E779] PRIMARY KEY CLUSTERED 
(
	[PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECOES_PRODUTOS]    Script Date: 16/09/2024 21:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECOES_PRODUTOS](
	[SECAO_PRODUTO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[FORMULARIO_ORIGEM] [numeric](6, 0) NULL,
	[TAB_MASTER_ORIGEM] [numeric](6, 0) NULL,
	[REG_MASTER_ORIGEM] [numeric](15, 0) NULL,
	[REG_LOG_INCLUSAO] [numeric](15, 0) NULL,
	[DESCRICAO] [varchar](60) NOT NULL,
	[COMERCIALIZAVEL] [varchar](1) NULL,
	[FATOR_REDUCAO_ST] [numeric](6, 2) NOT NULL,
	[CODIGO_ESTACAO] [varchar](5) NULL,
	[PERCENTUAL_CURVA_A] [numeric](6, 2) NULL,
	[PERCENTUAL_CURVA_B] [numeric](6, 2) NULL,
	[PERCENTUAL_CURVA_C] [numeric](6, 2) NULL,
	[DIAS_VENDAS_CURVA] [numeric](4, 0) NULL,
	[DIAS_RECALCULO] [numeric](4, 0) NULL,
	[ULTIMA_ATUALIZACAO] [datetime] NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[SOLICITA_RECEITA] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SECAO_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBGRUPOS_PRODUTOS]    Script Date: 16/09/2024 21:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBGRUPOS_PRODUTOS](
	[SUBGRUPO_PRODUTO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[FORMULARIO_ORIGEM] [numeric](6, 0) NULL,
	[TAB_MASTER_ORIGEM] [numeric](6, 0) NULL,
	[REG_MASTER_ORIGEM] [numeric](15, 0) NULL,
	[REG_LOG_INCLUSAO] [numeric](15, 0) NULL,
	[DESCRICAO] [varchar](60) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CUBAGEM_MEDIA] [numeric](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SUBGRUPO_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDAS_ANALITICAS]    Script Date: 16/09/2024 21:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDAS_ANALITICAS](
	[FORMULARIO_ORIGEM] [numeric](15, 0) NOT NULL,
	[TAB_MASTER_ORIGEM] [numeric](15, 0) NOT NULL,
	[REG_MASTER_ORIGEM] [numeric](15, 0) NOT NULL,
	[REGISTRO_CONTROLE] [numeric](15, 0) NOT NULL,
	[REGISTRO_CONTROLE_II] [numeric](15, 0) NOT NULL,
	[EMPRESA] [numeric](15, 0) NOT NULL,
	[MOVIMENTO] [date] NOT NULL,
	[CAIXA] [numeric](15, 0) NULL,
	[VENDA] [numeric](15, 0) NOT NULL,
	[PRODUTO] [numeric](15, 0) NOT NULL,
	[VENDEDOR] [numeric](15, 0) NULL,
	[OPERADOR] [numeric](15, 0) NULL,
	[CLIENTE] [numeric](15, 0) NULL,
	[QUANTIDADE] [numeric](10, 2) NOT NULL,
	[VENDA_BRUTA] [numeric](15, 2) NOT NULL,
	[DESCONTO] [numeric](15, 2) NOT NULL,
	[DESCONTO_NEGOCIADO] [numeric](15, 2) NULL,
	[VENDA_LIQUIDA]  AS ([VENDA_BRUTA]-[DESCONTO]) PERSISTED,
	[OPERACAO_FISCAL] [numeric](5, 0) NOT NULL,
	[PIS_ALIQUOTA] [numeric](15, 2) NULL,
	[PIS_BASE_CALCULO] [numeric](15, 2) NULL,
	[PIS_VALOR] [numeric](15, 2) NULL,
	[SITUACAO_TRIBUTARIA_PIS] [varchar](2) NULL,
	[COFINS_ALIQUOTA] [numeric](15, 2) NULL,
	[COFINS_BASE_CALCULO] [numeric](15, 2) NULL,
	[COFINS_VALOR] [numeric](15, 2) NULL,
	[SITUACAO_TRIBUTARIA_COFINS] [varchar](2) NULL,
	[ICMS_ALIQUOTA] [numeric](15, 2) NULL,
	[ICMS_BASE_CALCULO] [numeric](15, 2) NULL,
	[ICMS_VALOR] [numeric](15, 2) NULL,
	[SITUACAO_TRIBUTARIA] [varchar](3) NULL,
	[ICMS_CODIGO_ECF] [varchar](10) NULL,
	[ESPECIE_FISCAL] [varchar](3) NULL,
	[DOCUMENTO_TIPO] [numeric](15, 0) NULL,
	[DOCUMENTO_NUMERO] [numeric](15, 0) NULL,
	[ECF_CAIXA] [varchar](4) NULL,
	[TIPO_BONIFICACAO] [varchar](1) NULL,
	[BONIFICACAO] [numeric](15, 2) NULL,
	[OBJETO_CONTROLE] [numeric](15, 0) NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[VENDA_ANALITICA] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[IMPOSTOS]  AS ((isnull([PIS_VALOR],(0))+isnull([COFINS_VALOR],(0)))+isnull([ICMS_VALOR],(0))) PERSISTED,
	[FORMULARIO_ORIGEM_RELACIONADO] [numeric](15, 0) NULL,
	[TAB_MASTER_ORIGEM_RELACIONADO] [numeric](15, 0) NULL,
	[REG_MASTER_ORIGEM_RELACIONADO] [numeric](15, 0) NULL,
	[REGISTRO_CONTROLE_RELACIONADO] [numeric](15, 0) NULL,
	[REGISTRO_CONTROLE_II_RELACIONADO] [numeric](15, 0) NULL,
	[TIPO_COMISSAO] [varchar](1) NULL,
	[COMISSAO] [numeric](9, 2) NULL,
	[VALOR_BONIFICACAO]  AS (case [TIPO_BONIFICACAO] when 'V' then isnull([BONIFICACAO],(0))*[QUANTIDADE] when 'P' then ([VENDA_BRUTA]-[DESCONTO])*(isnull([BONIFICACAO],(0))/(100)) else (0.00) end) PERSISTED,
	[VALOR_COMISSAO]  AS (case [TIPO_COMISSAO] when 'V' then isnull([COMISSAO],(0))*[QUANTIDADE] when 'P' then ([VENDA_BRUTA]-[DESCONTO])*(isnull([COMISSAO],(0))/(100)) else (0.00) end) PERSISTED,
	[DESCONTO_AUTOMATICO] [numeric](15, 2) NULL,
	[DESCONTO_CONCEDIDO] [numeric](15, 2) NOT NULL,
	[GERA_DEMANDA]  AS ([DBO].[UDF_GERA_DEMANDA]([VENDA_ANALITICA])),
	[CODIGO_CR_PRESCRITOR] [numeric](9, 0) NULL,
	[CR_PRESCRITOR] [varchar](20) NULL,
	[UF_PRESCRITOR] [varchar](2) NULL,
	[PEDIDO_VENDA] [numeric](15, 0) NULL,
 CONSTRAINT [PK__VENDAS_A__C123DE351D44F117] PRIMARY KEY CLUSTERED 
(
	[FORMULARIO_ORIGEM] ASC,
	[TAB_MASTER_ORIGEM] ASC,
	[REG_MASTER_ORIGEM] ASC,
	[REGISTRO_CONTROLE] ASC,
	[REGISTRO_CONTROLE_II] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__VENDAS_A__3C42778B214CEE2A] UNIQUE NONCLUSTERED 
(
	[VENDA_ANALITICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDORES]    Script Date: 16/09/2024 21:01:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDORES](
	[VENDEDOR] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[FORMULARIO_ORIGEM] [numeric](6, 0) NULL,
	[TAB_MASTER_ORIGEM] [numeric](6, 0) NULL,
	[REG_MASTER_ORIGEM] [numeric](15, 0) NULL,
	[REG_LOG_INCLUSAO] [numeric](15, 0) NULL,
	[NOME] [varchar](60) NOT NULL,
	[CODIGO_DP] [numeric](5, 0) NULL,
	[COMISSAO] [numeric](6, 2) NULL,
	[ENTIDADE] [numeric](15, 0) NOT NULL,
	[CODIGO_OPERADOR_PDV] [numeric](15, 0) NULL,
	[EMPRESA_USUARIA] [numeric](15, 0) NULL,
	[DESCONTO_MAXIMO_PMC] [numeric](15, 2) NULL,
	[DESCONTO_TOTAL_BALCAO] [varchar](1) NULL,
	[SUPERVISOR] [varchar](1) NULL,
	[USUARIO_FP] [varchar](15) NULL,
	[SENHA_FP] [varchar](15) NULL,
	[CADASTRO_ATIVO] [varchar](1) NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CARGO_DESCONTO] [numeric](15, 0) NULL,
	[CARGO_COMISSAO] [numeric](15, 0) NULL,
	[TAXA_MOTOBOY] [numeric](15, 2) NULL,
	[MOTOQUEIRO] [varchar](1) NULL,
	[EMAIL] [varchar](120) NULL,
	[LICITACAO] [varchar](1) NULL,
	[USUARIO] [numeric](15, 0) NULL,
	[EMAIL_VENDEDOR] [varchar](120) NULL,
	[COMISSAO_CARGO] [numeric](15, 0) NULL,
	[FISIOTERAPEUTA] [varchar](1) NULL,
	[GRUPO_COMISSAO] [numeric](15, 0) NULL,
 CONSTRAINT [PK__VENDEDORES__4F5D9FD3] PRIMARY KEY CLUSTERED 
(
	[VENDEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLASSIFICACOES_CLIENTES] ADD  DEFAULT ((0)) FOR [MARKUP_ADICIONAL]
GO
ALTER TABLE [dbo].[CLASSIFICACOES_CLIENTES] ADD  CONSTRAINT [DF_CLASSIFICACOES_CLIENTES_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[CLASSIFICACOES_CLIENTES] ADD  DEFAULT ('N') FOR [EXIGIR_EMPENHO]
GO
ALTER TABLE [dbo].[CLASSIFICACOES_CLIENTES] ADD  DEFAULT ('N') FOR [EXIGIR_EMAIL_COBRANCA]
GO
ALTER TABLE [dbo].[CLASSIFICACOES_CLIENTES] ADD  DEFAULT ('N') FOR [CONVENIO_87]
GO
ALTER TABLE [dbo].[ENDERECOS] ADD  CONSTRAINT [DF_ENDERECOS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ENTIDADES] ADD  CONSTRAINT [DF__ENTIDADES__EMPRE__6B922C32]  DEFAULT ('S') FOR [EMPRESA_NACIONAL]
GO
ALTER TABLE [dbo].[ENTIDADES] ADD  CONSTRAINT [DF__ENTIDADES__CONTR__6C86506B]  DEFAULT ('N') FOR [CONTRIBUINTE_ICMS]
GO
ALTER TABLE [dbo].[ENTIDADES] ADD  DEFAULT (getdate()) FOR [DATA_CADASTRO]
GO
ALTER TABLE [dbo].[ESTADOS] ADD  DEFAULT ((0)) FOR [ALIQUOTA_INTERNA]
GO
ALTER TABLE [dbo].[ESTADOS] ADD  CONSTRAINT [DF_ESTADOS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[FAMILIAS_PRODUTOS] ADD  CONSTRAINT [DF_FAMILIAS_PRODUTOS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[MARCAS] ADD  DEFAULT ((0)) FOR [MARGEM]
GO
ALTER TABLE [dbo].[MARCAS] ADD  DEFAULT ('A') FOR [ESTADO]
GO
ALTER TABLE [dbo].[MARCAS] ADD  CONSTRAINT [DF_MARCAS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[MARCAS] ADD  DEFAULT ('S') FOR [IMS]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [DF_PRODUTOS_SITUACAO_PRODUTO]  DEFAULT ((1)) FOR [SITUACAO_PRODUTO]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [DF__PRODUTOS__FATOR___5CA357AF]  DEFAULT ((1)) FOR [FATOR_EMBALAGEM]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [DF__PRODUTOS__ENVIAR__09579943]  DEFAULT ('N') FOR [ENVIAR_ECOMMERCE]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [DF__PRODUTOS__ENVIAR__0A4BBD7C]  DEFAULT ('N') FOR [ENVIAR_LOJAS]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [DF__PRODUTOS__TIPO_E__0B3FE1B5]  DEFAULT ((1)) FOR [TIPO_ETIQUETA]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [DF__PRODUTOS__LUCRO___0C3405EE]  DEFAULT ((0)) FOR [LUCRO_BRUTO]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [DF__PRODUTOS__CADAST__0D282A27]  DEFAULT ('S') FOR [CADASTRO_ATIVO]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [DF_PRODUTOS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  DEFAULT ((1)) FOR [PRODUTO_ORIGEM]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  DEFAULT ((1)) FOR [FATOR]
GO
ALTER TABLE [dbo].[PRODUTOS] ADD  DEFAULT ((1)) FOR [STATUS_ATIVO_TRANSFERENCIA]
GO
ALTER TABLE [dbo].[SECOES_PRODUTOS] ADD  DEFAULT ((0)) FOR [FATOR_REDUCAO_ST]
GO
ALTER TABLE [dbo].[SECOES_PRODUTOS] ADD  DEFAULT ((0)) FOR [PERCENTUAL_CURVA_A]
GO
ALTER TABLE [dbo].[SECOES_PRODUTOS] ADD  DEFAULT ((0)) FOR [PERCENTUAL_CURVA_B]
GO
ALTER TABLE [dbo].[SECOES_PRODUTOS] ADD  DEFAULT ((0)) FOR [PERCENTUAL_CURVA_C]
GO
ALTER TABLE [dbo].[SECOES_PRODUTOS] ADD  DEFAULT ((0)) FOR [DIAS_VENDAS_CURVA]
GO
ALTER TABLE [dbo].[SECOES_PRODUTOS] ADD  DEFAULT ((0)) FOR [DIAS_RECALCULO]
GO
ALTER TABLE [dbo].[SECOES_PRODUTOS] ADD  CONSTRAINT [DF_SECOES_PRODUTOS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[SECOES_PRODUTOS] ADD  DEFAULT ('N') FOR [SOLICITA_RECEITA]
GO
ALTER TABLE [dbo].[SUBGRUPOS_PRODUTOS] ADD  CONSTRAINT [DF_SUBGRUPOS_PRODUTOS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[VENDAS_ANALITICAS] ADD  CONSTRAINT [DF__VENDAS_AN__DESCO__1F2D3989]  DEFAULT ((0)) FOR [DESCONTO_NEGOCIADO]
GO
ALTER TABLE [dbo].[VENDAS_ANALITICAS] ADD  CONSTRAINT [DF_VENDAS_ANALITICAS_NOVA_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[VENDAS_ANALITICAS] ADD  CONSTRAINT [DF__VENDAS_AN__FORMU__155C1891]  DEFAULT ((0)) FOR [FORMULARIO_ORIGEM_RELACIONADO]
GO
ALTER TABLE [dbo].[VENDAS_ANALITICAS] ADD  CONSTRAINT [DF__VENDAS_AN__TAB_M__16503CCA]  DEFAULT ((0)) FOR [TAB_MASTER_ORIGEM_RELACIONADO]
GO
ALTER TABLE [dbo].[VENDAS_ANALITICAS] ADD  CONSTRAINT [DF__VENDAS_AN__REG_M__17446103]  DEFAULT ((0)) FOR [REG_MASTER_ORIGEM_RELACIONADO]
GO
ALTER TABLE [dbo].[VENDAS_ANALITICAS] ADD  CONSTRAINT [DF__VENDAS_AN__REGIS__1838853C]  DEFAULT ((0)) FOR [REGISTRO_CONTROLE_RELACIONADO]
GO
ALTER TABLE [dbo].[VENDAS_ANALITICAS] ADD  CONSTRAINT [DF__VENDAS_AN__REGIS__192CA975]  DEFAULT ((0)) FOR [REGISTRO_CONTROLE_II_RELACIONADO]
GO
ALTER TABLE [dbo].[VENDAS_ANALITICAS] ADD  CONSTRAINT [DF__VENDAS_AN__DESCO__4D8CF9C9]  DEFAULT ((0)) FOR [DESCONTO_AUTOMATICO]
GO
ALTER TABLE [dbo].[VENDAS_ANALITICAS] ADD  CONSTRAINT [DF__VENDAS_AN__DESCO__68628244]  DEFAULT ((0)) FOR [DESCONTO_CONCEDIDO]
GO
ALTER TABLE [dbo].[VENDEDORES] ADD  DEFAULT ('S') FOR [CADASTRO_ATIVO]
GO
ALTER TABLE [dbo].[VENDEDORES] ADD  CONSTRAINT [DF_VENDEDORES_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ENDERECOS]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECOS_CEP] FOREIGN KEY([CEP])
REFERENCES [dbo].[CEP] ([CEP])
GO
ALTER TABLE [dbo].[ENDERECOS] CHECK CONSTRAINT [FK_ENDERECOS_CEP]
GO
ALTER TABLE [dbo].[ENDERECOS]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECOS_ESTADO] FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADOS] ([ESTADO])
GO
ALTER TABLE [dbo].[ENDERECOS] CHECK CONSTRAINT [FK_ENDERECOS_ESTADO]
GO
ALTER TABLE [dbo].[ENDERECOS]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECOS_PAIS] FOREIGN KEY([PAIS])
REFERENCES [dbo].[PAISES] ([PAIS])
GO
ALTER TABLE [dbo].[ENDERECOS] CHECK CONSTRAINT [FK_ENDERECOS_PAIS]
GO
ALTER TABLE [dbo].[ENDERECOS]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECOS_TIPO_ENDERECO] FOREIGN KEY([TIPO_ENDERECO])
REFERENCES [dbo].[TIPOS_ENDERECO] ([TIPO_ENDERECO])
GO
ALTER TABLE [dbo].[ENDERECOS] CHECK CONSTRAINT [FK_ENDERECOS_TIPO_ENDERECO]
GO
ALTER TABLE [dbo].[ESTADOS]  WITH CHECK ADD FOREIGN KEY([GNRE_CODIGO_RECEITA])
REFERENCES [dbo].[GNRE_CODIGO_RECEITA] ([GNRE_CODIGO_RECEITA])
GO
ALTER TABLE [dbo].[ESTADOS]  WITH CHECK ADD FOREIGN KEY([GNRE_CODIGO_RECEITA_DETALHAMENTO])
REFERENCES [dbo].[GNRE_CODIGO_RECEITA_DETALHAMENTO] ([GNRE_CODIGO_RECEITA_DETALHAMENTO])
GO
ALTER TABLE [dbo].[ESTADOS]  WITH CHECK ADD FOREIGN KEY([GNRE_CODIGO_RECEITA_FP])
REFERENCES [dbo].[GNRE_CODIGO_RECEITA] ([GNRE_CODIGO_RECEITA])
GO
ALTER TABLE [dbo].[ESTADOS]  WITH CHECK ADD FOREIGN KEY([GNRE_CODIGO_RECEITA_DETALHAMENTO_FP])
REFERENCES [dbo].[GNRE_CODIGO_RECEITA_DETALHAMENTO] ([GNRE_CODIGO_RECEITA_DETALHAMENTO])
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUTOS__CLASSE__4439FE9D] FOREIGN KEY([CLASSE_PRODUTO])
REFERENCES [dbo].[CLASSES_PRODUTOS] ([CLASSE_PRODUTO])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK__PRODUTOS__CLASSE__4439FE9D]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD FOREIGN KEY([CLASSIFICACAO_PRODUTO_ESTOQUE])
REFERENCES [dbo].[CLASSIFICACOES_PRODUTOS_ESTOQUE] ([CLASSIFICACAO_PRODUTO_ESTOQUE])
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD FOREIGN KEY([GRUPO_TERMO_ACORDO_CE])
REFERENCES [dbo].[GRUPOS_TERMO_ACORDO_CE] ([GRUPO_TERMO_ACORDO_CE])
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD FOREIGN KEY([GRUPO_FISCAL])
REFERENCES [dbo].[GRUPOS_FISCAIS] ([GRUPO_FISCAL])
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUTOS__GRUPO___452E22D6] FOREIGN KEY([GRUPO_TRIBUTARIO])
REFERENCES [dbo].[GRUPOS_TRIBUTARIOS] ([GRUPO_TRIBUTARIO])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK__PRODUTOS__GRUPO___452E22D6]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUTOS__GRUPO___4622470F] FOREIGN KEY([GRUPO_TRIBUTARIO])
REFERENCES [dbo].[GRUPOS_TRIBUTARIOS] ([GRUPO_TRIBUTARIO])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK__PRODUTOS__GRUPO___4622470F]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD FOREIGN KEY([LISTA_PNU])
REFERENCES [dbo].[LISTA_PNU] ([LISTA_PNU])
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUTOS__PAIS__47166B48] FOREIGN KEY([PAIS])
REFERENCES [dbo].[PAISES] ([PAIS])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK__PRODUTOS__PAIS__47166B48]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD FOREIGN KEY([PRODUTO_CONCENTRADOR])
REFERENCES [dbo].[PRODUTOS] ([PRODUTO])
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUTOS__SITUAC__480A8F81] FOREIGN KEY([SITUACAO_PRODUTO_COMPRA])
REFERENCES [dbo].[STATUS_COMPRA] ([STATUS_COMPRA])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK__PRODUTOS__SITUAC__480A8F81]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUTOS__SITUAC__48FEB3BA] FOREIGN KEY([SITUACAO_PRODUTO_COMPRA])
REFERENCES [dbo].[STATUS_COMPRA] ([STATUS_COMPRA])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK__PRODUTOS__SITUAC__48FEB3BA]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUTOS__TIPO_P__49F2D7F3] FOREIGN KEY([TIPO_PRECO])
REFERENCES [dbo].[TIPOS_PRECO] ([TIPO_PRECO])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK__PRODUTOS__TIPO_P__49F2D7F3]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUTOS__TIPO_P__4AE6FC2C] FOREIGN KEY([TIPO_PRECO])
REFERENCES [dbo].[TIPOS_PRECO] ([TIPO_PRECO])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK__PRODUTOS__TIPO_P__4AE6FC2C]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_FABRICANTE] FOREIGN KEY([FABRICANTE])
REFERENCES [dbo].[PESSOAS_JURIDICAS] ([ENTIDADE])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_FABRICANTE]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_FAMILIA_PRODUTO] FOREIGN KEY([FAMILIA_PRODUTO])
REFERENCES [dbo].[FAMILIAS_PRODUTOS] ([FAMILIA_PRODUTO])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_FAMILIA_PRODUTO]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_GRUPO_CONTABIL] FOREIGN KEY([GRUPO_CONTABIL])
REFERENCES [dbo].[GRUPOS_CONTABEIS] ([GRUPO_CONTABIL])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_GRUPO_CONTABIL]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_GRUPO_PRODUTO] FOREIGN KEY([GRUPO_PRODUTO])
REFERENCES [dbo].[GRUPOS_PRODUTOS] ([GRUPO_PRODUTO])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_GRUPO_PRODUTO]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_MARCA] FOREIGN KEY([MARCA])
REFERENCES [dbo].[MARCAS] ([MARCA])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_MARCA]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_SAZONALIDADE] FOREIGN KEY([SAZONALIDADE])
REFERENCES [dbo].[SAZONALIDADES] ([SAZONALIDADE])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_SAZONALIDADE]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_SECAO_PRODUTO] FOREIGN KEY([SECAO_PRODUTO])
REFERENCES [dbo].[SECOES_PRODUTOS] ([SECAO_PRODUTO])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_SECAO_PRODUTO]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_SITUACAO_PRODUTO] FOREIGN KEY([SITUACAO_PRODUTO])
REFERENCES [dbo].[SITUACOES_PRODUTOS] ([SITUACAO_PRODUTO])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_SITUACAO_PRODUTO]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_SUBGRUPO_PRODUTO] FOREIGN KEY([SUBGRUPO_PRODUTO])
REFERENCES [dbo].[SUBGRUPOS_PRODUTOS] ([SUBGRUPO_PRODUTO])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_SUBGRUPO_PRODUTO]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_UNIDADE_MEDIDA] FOREIGN KEY([UNIDADE_MEDIDA])
REFERENCES [dbo].[UNIDADES_MEDIDA] ([UNIDADE_MEDIDA])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_UNIDADE_MEDIDA]
GO
ALTER TABLE [dbo].[PRODUTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTOS_UNIDADE_MEDIDA_FATOR] FOREIGN KEY([UNIDADE_MEDIDA_FATOR])
REFERENCES [dbo].[UNIDADES_MEDIDA] ([UNIDADE_MEDIDA])
GO
ALTER TABLE [dbo].[PRODUTOS] CHECK CONSTRAINT [FK_PRODUTOS_UNIDADE_MEDIDA_FATOR]
GO
ALTER TABLE [dbo].[VENDAS_ANALITICAS]  WITH CHECK ADD  CONSTRAINT [FK__VENDAS_AN__DOCUM__20215DC2] FOREIGN KEY([DOCUMENTO_TIPO])
REFERENCES [dbo].[TIPOS_DOCUMENTOS_VENDAS_ANALITICAS] ([DOCUMENTO_TIPO])
GO
ALTER TABLE [dbo].[VENDAS_ANALITICAS] CHECK CONSTRAINT [FK__VENDAS_AN__DOCUM__20215DC2]
GO
ALTER TABLE [dbo].[VENDEDORES]  WITH CHECK ADD FOREIGN KEY([CARGO_COMISSAO])
REFERENCES [dbo].[CARGOS_COMISSOES] ([CARGO_COMISSAO])
GO
ALTER TABLE [dbo].[VENDEDORES]  WITH CHECK ADD FOREIGN KEY([CARGO_DESCONTO])
REFERENCES [dbo].[CARGOS_DESCONTOS] ([CARGO_DESCONTO])
GO
ALTER TABLE [dbo].[VENDEDORES]  WITH CHECK ADD FOREIGN KEY([COMISSAO_CARGO])
REFERENCES [dbo].[COMISSOES_CARGOS] ([COMISSAO_CARGO])
GO
ALTER TABLE [dbo].[VENDEDORES]  WITH CHECK ADD FOREIGN KEY([GRUPO_COMISSAO])
REFERENCES [dbo].[GRUPOS_COMISSOES] ([GRUPO_COMISSAO])
GO
ALTER TABLE [dbo].[VENDEDORES]  WITH CHECK ADD  CONSTRAINT [FK_VENDEDORES_EMPRESA_USUARIA] FOREIGN KEY([EMPRESA_USUARIA])
REFERENCES [dbo].[EMPRESAS_USUARIAS] ([EMPRESA_USUARIA])
GO
ALTER TABLE [dbo].[VENDEDORES] CHECK CONSTRAINT [FK_VENDEDORES_EMPRESA_USUARIA]
GO
